language: go
go:
  - 1.15

env:
  - "PATH=/home/travis/gopath/bin:$PATH"

services:
  - docker

before_install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls

script:
  - sudo apt-get -y install libpcap-dev
  - go get github.com/golang/mock/mockgen@latest
  - go install -v github.com/golang/mock/mockgen && export PATH=$GOPATH/bin:$PATH;
  - go generate ./...
  - go test ./cmd... ./internal... ./pkg...  -coverprofile=coverage.out
  - goveralls -coverprofile=coverage.out -service=travis-ci
  - make build

